@font-face {
  font-family: "lucida";
  src: url('fonts/Lucida_Console.ttf') format("truetype");
}

@font-face {
  font-family: "fraunces";
  src: url('fonts/Fraunces[SOFT,WONK,opsz,wght].woff2') format("woff2");
}



html,
body {
  height: 100%;
  min-height: 18em;
  margin: 0;
  padding: 0;
}

#container_gauche {
  position: absolute;
  top:0px;
  bottom:0px;
  left:0px;
  width: 50vw;
  background-color: #e5e3df;
  z-index:2;
  overflow-y: auto;
  overflow-x: hidden;
}

#texte_gauche {
  padding:10px;
  font-family:"lucida";
  font-size: 0.9vw;
  letter-spacing: 0.1em;
  line-height: 150%;
  color: black;
}

#container_droite {
  position: absolute;
  top:0px;
  bottom:0px;
  right:0px;
  width: 50vw;
  background-color: black;
  z-index:1;
}

#texte_droite {
  color: black;
  font-size: 2vw;
  font-family: "fraunces";
  line-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction:row;
  text-align: center;
  align-items: center;
  height:100vh;
  /*

  font-variation-settings: "SOFT" var(--SOFT),"WONK" var(--WONK);*/
}

#texte_droite ul {
  display:block;
  margin-block-start: 0px;
  margin-block-end: 0px;
  padding-inline-start: 0px;
}


#texte_droite li {
  display:inline-block;
  cursor:pointer;
  margin-right:0.5rem;
  margin-left:0.5rem;
}



span {
  display:inline-block;
  margin-right:0.6vw;
  cursor:pointer;
  user-select: none;
  -webkit-user-select: none;
}




::selection {
  color: #fff;
  background: #888;
}

::-moz-selection {
  color: #fff;
  background: #888;
}

.container a:hover:after {
  width: 100%;
}
h1 {
  position: relative;
  text-align: center;
  
}
.button_container {
  position: fixed;
  top: 5%;
  right: 2%;
  height: 27px;
  width: 35px;
  cursor: pointer;
  z-index: 100;
  transition: opacity 0.25s ease;
}
.button_container:hover {
  opacity: 0.7;
}
.button_container.active .top {
  transform: translateY(10px) translateX(0) rotate(45deg);
  background: #cccbc9;
}
.button_container.active .middle {
  opacity: 0;
  background: transparent;
}
.button_container.active .bottom {
  transform: translateY(-10px) translateX(0) rotate(-45deg);
  background: #cccbc9;
}
.button_container span {
  background:#e5e3df;
  border: none;
  height: 5px;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0;
  transition: all 0.35s ease;
  cursor: pointer;
}
.button_container span:nth-of-type(2) {
  top: 10px;
}
.button_container span:nth-of-type(3) {
  top: 20px;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  visibility: hidden;
  transition: opacity 0.35s, visibility 0.35s, width 0.35s;
  z-index: 50;
}
.overlay:before {
  content: '';
  background: #e5e3df;
  left: -55%;
  top: 0;
  width: 50%;
  height: 100%;
  position: absolute;
  transition: left 0.35s ease;
}
.overlay:after {
  content: '';
  background: #e5e3df;
  right: -55%;
  top: 0;
  width: 50%;
  height: 100%;
  position: absolute;
  transition: all 0.35s ease;
}
.overlay.open {
  opacity: 0.9;
  visibility: visible;
  height: 100%;
}
.overlay.open:before {
  left: 0;
}
.overlay.open:after {
  right: 0;
}
.overlay.open li {
  animation: fadeInRight 0.5s ease forwards;
  animation-delay: 0.35s;
}
.overlay.open li:nth-of-type(2) {
  animation-delay: 0.45s;
}
.overlay.open li:nth-of-type(3) {
  animation-delay: 0.55s;
}
.overlay.open li:nth-of-type(4) {
  animation-delay: 0.65s;
}
.overlay nav {
  position: relative;
  height: 70%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 40px;
  font-family: 'lucida', serif;
  font-weight: 400;
  text-align: center;
  z-index: 100;
}
.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 100%;
}
.overlay ul li {
  display: block;
  height: 25%;
  height: calc(100% / 4);
  min-height: 50px;
  position: relative;
  opacity: 0;
}
.overlay ul li a {
  display: block;
  position: relative;
  color: #000000;
  text-decoration: none;
  overflow: hidden;
  opacity: 1;
}
.overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
  width: 100%;
  
}
.overlay ul li a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  transform: translateX(-50%);
  height: 3px;
  background-color: #cccbc9;
  transition: 0.35s;

}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}


::-webkit-scrollbar {
  width: 12px;
   display: none;
}

::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background: black; 
}
::-webkit-scrollbar-thumb:window-inactive {
background: #7a7a7a; 
}